@import "tailwindcss";
@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* -------------------------------- Variables ------------------------------- */
:root {
  --primary-base: #1ab69d;
  --primary-hover: #179e88;
  --primary-muted: #1ab69c12;
  --text-base: #181818;
  --text-muted: #808080;
  --background: #ffffff;
  --border: #e5e5e5;
  --icons-font: "icomoon";
  --success-base: #1ab69d;
  --success-muted: #1ab69d12;
  --error-base: #ee4a62;
  --error-muted: #ee4a6312;
}

@theme inline {
  --color-primary-base: var(--primary-base);
  --color-primary-hover: var(--primary-hover);
  --color-primary-muted: var(--primary-muted);
  --color-text-base: var(--text-base);
  --color-text-muted: var(--text-muted);
  --color-background: var(--background);
  --color-border: var(--border);
  --color-success-base: var(--success-base);
  --color-success-muted: var(--success-muted);
  --color-error-base: var(--error-base);
  --color-error-muted: var(--error-muted);
  --font-sans: var(--body-font);
  --font-heading: var(--heading-font);
}

/* ------------------------------- Base Style ------------------------------- */
body {
  background: var(--background);
  color: var(--text-muted);
  font-family: var(--body-font);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-base);
  font-family: var(--heading-font);
}

.centered-shadow {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.12);
}

.course__grid {
  display: grid;
  row-gap: 32px;
  column-gap: 56px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

@media (min-width: 1200px) {
  .course__grid {
    grid-template-columns: 65% auto;
    grid-template-rows: auto auto auto;
  }
}

/* ---------------------------------- Icons --------------------------------- */
[class^="icon-"] {
  font-family: var(--icons-font) !important;
}

.icon-angle-right::before {
  content: "\f105";
}

.icon-facebook::before {
  content: "\EA90";
}

.icon-twitter::before {
  content: "\EA96";
}

.icon-linkedin::before {
  content: "\EACA";
}

.icon-youtube::before {
  content: "\EA9D";
}

.icon-duration::before {
  content: "\E93C";
}

.icon-lessons::before {
  content: "\E917";
}

.icon-enrolled::before {
  content: "\E93E";
}

.icon-language::before {
  content: "\E93A";
}

.icon-arrow-right::before {
  content: "\E903";
}

.icon-chapter::before {
  content: "\E940";
}

.icon-lock::before {
  content: "\E943";
}

.icon-curriculum::before {
  content: "\E940";
}

.icon-comments::before {
  content: "\E91B";
}

.icon-questions::before {
  content: "\E904";
}

.icon-leaderboard::before {
  content: "\E914";
}

.icon-close::before {
  content: "\E948";
}
