@import "tailwindcss";
@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* -------------------------------- Variables ------------------------------- */
:root {
  --primary-base: #1ab69d;
  --primary-hover: #4a8677;
  --text-base: #181818;
  --text-muted: #808080;
  --background: #ffffff;
  --border: #e5e5e5;
  --icons-font: "icomoon";
}

@theme inline {
  --color-primary-base: var(--primary-base);
  --color-primary-hover: var(--primary-hover);
  --color-text-base: var(--text-base);
  --color-text-muted: var(--text-muted);
  --color-background: var(--background);
  --color-border: var(--border);
  --font-sans: var(--body-font);
  --font-heading: var(--heading-font);
}

/* ------------------------------- Base Style ------------------------------- */
body {
  background: var(--background);
  color: var(--text-muted);
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-base);
  font-family: var(--heading-font);
}

.centered-shadow {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.12);
}

/* ---------------------------------- Icons --------------------------------- */
[class^="icon-"] {
  font-family: var(--icons-font) !important;
}

.icon-angle-right::before {
  content: "\f105";
}

.icon-facebook::before {
  content: "\EA90";
}

.icon-twitter::before {
  content: "\EA96";
}

.icon-linkedin::before {
  content: "\EACA";
}

.icon-youtube::before {
  content: "\EA9D";
}

.icon-duration::before {
  content: "\E93C";
}

.icon-lessons::before {
  content: url("/icons/lessons.svg");
}

.icon-enrolled::before {
  content: "\E93E";
}

.icon-language::before {
  content: "\E93A";
}
